.button{
    padding: 12px;
    background-color: var(--color-primary);
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
    color: white;
    text-transform: uppercase;
    outline: none;
}